@import "tailwindcss";

/* use @theme here */

@theme {
  --color-primary: #8E4CCC;
  --color-secondary-1: #4265B8;
  --color-secondary-2: #FFFBF3;
  --color-error: #7D0303;
  --color-black: #000000;
  --color-eerie-black: #202020;
  --color-jet: #393939;
  --color-dim-gray: #666666;
  --color-gray: #808080;
  --color-silver: #CCCCCC;
  --color-white: #FFFFFF;
  --color-text: #000000;
  --color-text-secondary: #858585;
  --color-primary-hover: #702AB4;
  --color-secondary-card-hover-bg: #E8D0FF;
  --color-bg-block: #FFFBF3;
}